[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
[submodule "git-modes"]
	path = git-modes
	url = https://github.com/magit/git-modes.git
[submodule "direx-el"]
	path = direx-el
	url = https://github.com/Kikuchi-M/direx-el.git
[submodule "auto-complete"]
	path = auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "popup-el"]
	path = popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule "qml-mode"]
	path = qml-mode
	url = https://github.com/Kikuchi-M/qml-mode.git
[submodule "buffer-collect"]
	path = buffer-collect
	url = https://github.com/Kikuchi-M/buffer-collect.git
[submodule "clojure-mode"]
	path = clojure-mode
	url = https://github.com/clojure-emacs/clojure-mode.git
[submodule "cider"]
	path = cider
	url = https://github.com/clojure-emacs/cider.git
[submodule "pkg-info.el"]
	path = pkg-info.el
	url = https://github.com/lunaryorn/pkg-info.el.git
[submodule "epl"]
	path = epl
	url = https://github.com/cask/epl.git
[submodule "dash.el"]
	path = dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "gdb-debugger"]
	path = gdb-debugger
	url = https://github.com/Kikuchi-M/gdb-debugger.git
[submodule "g-compile"]
	path = g-compile
	url = https://github.com/Kikuchi-M/g-compile.git
[submodule "scala-mode2"]
	path = scala-mode2
	url = https://github.com/hvesalai/scala-mode2.git
[submodule "sbt-mode"]
	path = sbt-mode
	url = https://github.com/hvesalai/sbt-mode.git
